.route-loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  height: 3px;
  
  .ant-progress {
    line-height: 0;
    
    .ant-progress-outer {
      padding: 0;
      
      .ant-progress-inner {
        background: transparent;
        border-radius: 0;
        
        .ant-progress-bg {
          border-radius: 0;
          transition: width 0.3s ease;
        }
      }
    }
  }
}

